* {
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

input,
button,
textarea {
	font-family: inherit;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

/* =========== Common =========== */
.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.btn {
	--height: 58px;
	--width: 149px;
	--border-radius: 8px;
	--font-size: 1.6rem;
	--font-weight: 600rem;
	--line-height: 1.75;
	--border-color: #212832;
	--background-color: #212832;
	--text-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	height: var(--height);
	width: var(--width);
	border-radius: var(--border-radius);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	border-color: var(--border-color);
	background-color: var(--background-color);
	transition: opacity 0.3s ease-in-out;
}

.btn:hover {
	opacity: 0.8;
}

/* ============ Header ================ */
.header {
	position: sticky;
	top: -32px;
	background: rgba(255, 255, 255, 0.5);
	padding-top: 32px;
	backdrop-filter: blur(15px);
}

.logo,
.logo:focus {
	outline: none;
}

.header-inner {
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.header-nav {
	display: flex;
	align-items: center;
	gap: 47px;
	margin-left: 70px;
}

.header-nav-item {
	position: relative;
	color: #696d76;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75;
	transition: text-shadow 0.2s ease-in-out;
}

.header-nav-item:hover {
	text-shadow: 0.3px 0 0 currentColor, -0.3px 0 0 currentColor,
		0 0.3px 0 currentColor, 0 -0.3px 0 currentColor;
}

.header-nav-item.active::after {
	content: '';
	position: absolute;
	display: inline-block;
	height: 1px;
	width: 100%;
	border-radius: 0.5px;
	background: #7264d6;
	bottom: 0px;
	left: 0;
}

.header-nav-item.active::before {
	position: absolute;
	top: 0;
	left: -0.5px;
	content: attr(data);
	color: #212832;
	font-weight: 600;
}

.header-cta {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.header-cta__login {
	padding: 12px 28px;
	color: #212832;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.75;
}

.header-cta__signup {
	--height: 52px;
	--width: 113px;
	--border-radius: 6px;
}
