* {
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

input,
button,
textarea {
	font-family: inherit;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

/* =========== Common =========== */
.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.btn {
	--height: 58px;
	--width: 149px;
	--border-radius: 8px;
	--font-size: 1.6rem;
	--font-weight: 600rem;
	--line-height: 1.75;
	--border-color: #212832;
	--background-color: #212832;
	--text-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	height: var(--height);
	width: var(--width);
	border-radius: var(--border-radius);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	border: 1px solid;
	border-color: var(--border-color);
	background-color: var(--background-color);
	transition: opacity 0.3s ease-in-out;
	outline: none;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.8;
}

.section-desc {
	--width: 540px;
	max-width: var(--width);
	color: #696d76;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.67;
}

.section-sub-title {
	display: flex;
	align-items: center;
	gap: 12px;
	color: #696d77;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75;
	white-space: nowrap;
}

.section-sub-title::before {
	content: '';
	display: inline-block;
	width: 18px;
	height: 2px;
	background: #696d77;
}

/* ============ Header ================ */
.header {
	position: sticky;
	top: -32px;
	background: rgba(255, 255, 255, 0.5);
	padding-top: 32px;
	backdrop-filter: blur(15px);
	z-index: 999;
}

.logo,
.logo:focus {
	outline: none;
}

.header-inner {
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.header-nav {
	display: flex;
	align-items: center;
	gap: 47px;
	margin-left: 70px;
}

.header-nav-item {
	position: relative;
	color: #696d76;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75;
	transition: text-shadow 0.2s ease-in-out;
}

.header-nav-item:hover {
	text-shadow: 0.3px 0 0 currentColor, -0.3px 0 0 currentColor,
		0 0.3px 0 currentColor, 0 -0.3px 0 currentColor;
}

.header-nav-item.active::after {
	content: '';
	position: absolute;
	display: inline-block;
	height: 1px;
	width: 100%;
	border-radius: 0.5px;
	background: #7264d6;
	bottom: 0px;
	left: 0;
}

.header-nav-item.active::before {
	position: absolute;
	top: 0;
	left: -0.5px;
	content: attr(data);
	color: #212832;
	font-weight: 600;
}

.header-cta {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.header-cta__login {
	padding: 12px 28px;
	color: #212832;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.75;
}

.header-cta__signup {
	--height: 52px;
	--width: 113px;
	--border-radius: 6px;
}

/* =============== Hero ================= */
.hero {
	display: flex;
	align-items: center;
	height: calc(100vh - 104px);
}

.hero-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Hero info */
.hero-info {
	width: 46%;
}

.hero-title {
	margin-top: 12px;
	max-width: 500px;
	color: #212832;
	font-size: 6rem;
	font-weight: 700;
	line-height: 1.17;
}

.hero-title span {
	color: #7264d6;
}

.hero-desc {
	margin-top: 20px;
}

.hero-form {
	position: relative;
	margin-top: 40px;
}

.hero-form__input {
	width: 100%;
	height: 74px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
	outline: none;
	border: none;
	padding: 23px;
	color: #696d76;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75;
}

.hero-form__input::placeholder {
	color: #696d76;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75;
}

.hero-form__btn {
	position: absolute;
	--border-color: #7264d6;
	--background-color: #7264d6;
	right: 8px;
	top: 8px;
}

.hero-info__note {
	margin-top: 20px;
	color: #696d76;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.7;
}

/* Hero media */
.hero-media {
	position: relative;
	width: 40%;
}

.hero-media__img {
	max-width: 100%;
	object-fit: contain;
}

.hero-media__deposite {
	position: absolute;
	display: flex;
	align-items: center;
	width: 174px;
	height: 46px;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
	padding: 14px 10px;
	top: 113px;
	left: -100px;
}

.hero-media-deposite__text {
	color: #31456a;
	font-size: 1.4rem;
	font-weight: 600;
	margin-left: 8px;
}

.hero-media-deposite__money {
	color: #4ab5e3;
	font-size: 1.4rem;
	font-weight: 400;
	margin-left: 19px;
}

.hero-media__interest {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 130px;
	height: 130px;
	background: #da6464;
	border-radius: 50%;
	right: 0;
	top: 127px;
}

.hero-media-interest__percent {
	color: #fff;
	font-size: 4.4rem;
	font-weight: 600;
}

.hero-media-interest__text {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 400;
}

.hero-media__secure {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 11px;
	width: 124px;
	height: 68px;
	border-radius: 10px;
	background: #439f90;
	bottom: 61px;
	right: 100px;
}

.hero-media-secure__wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.hero-media-secure__money {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
}

.hero-media-secure__text {
	color: #fff;
	font-size: 0.8rem;
	font-weight: 400;
}
