* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

/* =========== Animation ========== */
@keyframes float {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-8px) scale(1.02);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes softTwinkle {
  0% {
    opacity: 0.6;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.08);
  }
  100% {
    opacity: 0.6;
    transform: scale(0.95);
  }
}

/* =========== Common =========== */
.text-clip {
  --line: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line);
  overflow: hidden;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 58px;
  --width: 149px;
  --border-radius: 8px;
  --font-size: 1.6rem;
  --font-weight: 600rem;
  --line-height: 1.75;
  --border-color: #212832;
  --background-color: #212832;
  --text-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  height: var(--height);
  width: var(--width);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  border: 1px solid;
  border-color: var(--border-color);
  background-color: var(--background-color);
  transition: opacity 0.3s ease-in-out;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.section-desc {
  --width: 540px;
  max-width: var(--width);
  color: #696d76;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.section-title {
  --width: 294px;
  max-width: var(--width);
  color: #212832;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.section-content-title {
  --width: 332px;
  max-width: var(--width);
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.section-sub-title {
  --color: #696d77;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  white-space: nowrap;
}

.section-sub-title::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  background: var(--color);
}

/* ============ Header ================ */
.header {
  position: sticky;
  top: -32px;
  background: rgba(255, 255, 255, 0.5);
  padding-top: 32px;
  backdrop-filter: blur(15px);
  z-index: 999;
}

.logo,
.logo:focus {
  outline: none;
}

.header-inner {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 47px;
  margin-left: 70px;
}

.header-nav-item {
  position: relative;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  transition: text-shadow 0.2s ease-in-out;
}

.header-nav-item:hover {
  text-shadow: 0.3px 0 0 currentColor, -0.3px 0 0 currentColor,
    0 0.3px 0 currentColor, 0 -0.3px 0 currentColor;
}

.header-nav-item.active::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 1px;
  width: 100%;
  border-radius: 0.5px;
  background: #7264d6;
  bottom: 0px;
  left: 0;
}

.header-nav-item.active::before {
  position: absolute;
  top: 0;
  left: -0.5px;
  content: attr(data);
  color: #212832;
  font-weight: 600;
}

.header-cta {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-cta__login {
  padding: 12px 28px;
  color: #212832;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.header-cta__signup {
  --height: 52px;
  --width: 113px;
  --border-radius: 6px;
}

/* =============== Hero ================= */
#hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 104px);
}

.hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hero info */
.hero-info {
  width: 46%;
}

.hero-title {
  margin-top: 12px;
  max-width: 500px;
  color: #212832;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.17;
}

.hero-title span {
  color: #7264d6;
}

.hero-desc {
  margin-top: 20px;
}

.hero-form {
  position: relative;
  margin-top: 40px;
}

.hero-form__input {
  width: 100%;
  height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
  outline: none;
  border: none;
  padding: 23px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.hero-form__input::placeholder {
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.hero-form__btn {
  position: absolute;
  --border-color: #7264d6;
  --background-color: #7264d6;
  right: 8px;
  top: 8px;
}

.hero-info__note {
  margin-top: 20px;
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}

/* Hero media */
.hero-media {
  position: relative;
  width: 40%;
}

.hero-media__img {
  max-width: 100%;
  object-fit: contain;
}

.hero-media__deposite {
  position: absolute;
  display: flex;
  align-items: center;
  width: 174px;
  height: 46px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
  padding: 14px 10px;
  top: 113px;
  left: -100px;
  animation: float 3s ease-in-out 0.1s infinite;
}

.hero-media-deposite__text {
  color: #31456a;
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 8px;
}

.hero-media-deposite__money {
  color: #4ab5e3;
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 19px;
}

.hero-media__interest {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  background: #da6464;
  border-radius: 50%;
  right: 0;
  top: 127px;
  animation: float 3s ease-in-out 0.8s infinite;
}

.hero-media-interest__percent {
  color: #fff;
  font-size: 4.4rem;
  font-weight: 600;
}

.hero-media-interest__text {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
}

.hero-media__secure {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  width: 124px;
  height: 68px;
  border-radius: 10px;
  background: #439f90;
  bottom: 61px;
  right: 100px;
  animation: float 3s ease-in-out 1.1s infinite;
}

.hero-media-secure__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hero-media-secure__money {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

.hero-media-secure__text {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
}

/* =========== Work =============== */
#work {
  margin-top: 160px;
}

.work-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-media {
  max-width: 40%;
}

.work-media__img-wrapper {
  position: relative;
}

.work-media__img--first,
.work-media__img--second {
  position: absolute;
}

.work-media__img--first {
  top: 76px;
  right: 62px;
}

.work-media__img--second {
  left: 344px;
  bottom: 96px;
  border-radius: 8px;
  width: 226px;
  height: 70px;
  border-radius: 8px;
  box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
}

.work-media__img {
  width: 470px;
  height: 619px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url("../images/work-bg.png") no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.work-media__img img {
  width: 456px;
}

.work-content {
  width: 40%;
}

.work-title {
  margin-top: 12px;
}

.work-content__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.work-content-item__title {
  color: #212832;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.45;
}

.work-content-list {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.work-content-item__desc {
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

/* =========== Payment ============ */
#payment {
  margin-top: 160px;
}

.payment-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-content {
  width: 40%;
}

.payment-title {
  --width: 100%;
  margin-top: 12px;
}

.payment-desc {
  --width: 100%;
  margin-top: 20px;
}

.payment-content__list {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.payment-content__item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.payment-content__item::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #7264d6;
  border-radius: 50%;
}

.payment-content__btn {
  margin-top: 38px;
}

.payment-media {
  width: 42%;
}

.payment-media__wrapper {
  position: relative;
}

.payment-media__img {
  width: 100%;
  object-fit: cover;
}

.payment-media__money,
.payment-media__income {
  position: absolute;
}

.payment-media__money {
  display: flex;
  align-items: center;
  padding: 23px 13px;
  width: 276px;
  height: 86px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
  left: 294px;
  bottom: 284px;
}

.payment-media-money__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: rgba(218, 100, 100, 0.1);
}

.payment-media-money__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 14px;
}

.payment-media-money__content--large {
  color: #212832;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.25;
}

.payment-media-money__content--small {
  color: #696d76;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

.payment-media-money__send {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-end;
}

.payment-media-money__send--large {
  color: #212832;
  font-family: Inter;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
}

.payment-media-money__send--small {
  color: #696d76;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

.payment-media__income {
  left: 450px;
  top: 257px;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background: #439f90;
  padding: 15px;
}

.payment-media__income--img {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  object-fit: cover;
}

.payment-media__income--text {
  margin-top: 14px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
}

.payment-media__income--money {
  margin-top: 6px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
}

/* ============== Transfer ================ */
#transfer {
  margin-top: 160px;
}

.transfer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transfer-media {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 40%;
  background: url("../images/transfer-bg.svg") center bottom/contain no-repeat;
}

.transfer-media__img {
  width: 88%;
  object-fit: cover;
}

.transfer-media__payment-method,
.transfer-media__money {
  position: absolute;
}

.transfer-media__payment-method {
  left: 263px;
  bottom: 57px;
  width: 281px;
  height: 220px;
  background-color: #fff;
  box-shadow: 0 44px 48px rgba(0, 0, 0, 0.1);
  padding: 28px;
  border-radius: 8px;
}

.transfer-media-method__text {
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.transfer-media-method__list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 18px;
}

.transfer-media-method__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 48px;
  border-radius: 4px;
  background: #f2f2fa;
}

.transfer-media-method__item.plus {
  background: #f9ea63;
}

.transfer-media__money {
  display: flex;
  align-items: center;
  justify-content: center;
  right: -100px;
  bottom: 222px;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  background: #7264d6;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.1);
}

.transfer-content {
  width: 40%;
}

.transfer-title {
  --width: 100%;
}

.transfer-desc {
  margin-top: 20px;
  --width: 100%;
}

.transfer-content__list {
  margin: 28px 0 38px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.transfer-content__item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.transfer-content__item::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #7264d6;
  border-radius: 50%;
}

/* ============ Client ============== */
#client {
  margin-top: 160px;
}

.client-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.client-title {
  --width: 100%;
  margin-top: 12px;
}

.client-desc {
  margin-top: 18px;
  max-width: 435px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.client-comment__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.client-comment__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.client-comment__item:hover .client-comment-item__content-wrapper {
  filter: drop-shadow(0 22px 54px rgba(0, 0, 0, 0.07));
}

.client-comment-item__content-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 570px;
  height: 254px;
  background-color: #fff;
  padding: 42px 28px;
  filter: drop-shadow(0 0 1px #dfe2e8);
  transition: filter ease 0.3s;
}

.client-comment-item__content-wrapper::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 95px;
  height: 60px;
  background: url("../icons/comment.svg") center center/contain no-repeat;
  bottom: -59px;
  left: 50%;
  transform: translateX(-50%);
}

.client-comment-item__content {
  color: #696d76;
  text-align: center;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
}

.client-comment-item__avatar-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 95px;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  padding-top: 10px;
}

.client-comment-item__avatar-wrapper img {
  max-width: 100%;
  object-fit: cover;
  object-position: top center;
}

.client-comment-item__name {
  margin-top: 20px;
  color: #070052;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.client-comment-item__job {
  margin-top: 2px;
  color: #696d76;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.client-comment__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 38px;
  gap: 12px;
}

.client-comment__nav-item {
  width: 22px;
  height: 6px;
  border-radius: 1px;
  border: 1px solid #9b9fab;
  cursor: pointer;
}

.client-comment__nav-item.active {
  background-color: #7264d6;
  border-color: #7264d6;
}

/* ============== Blog =============== */
#blog {
  margin-top: 160px;
}

.blog-content__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-title {
  --width: 359px;
  margin-top: 6px;
}

.section-desc {
  margin-top: 18px;
  max-width: 435px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.blog-cta__btn {
  --width: 123px;
}

.blog-list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.blog-item {
  display: flex;
  align-items: center;
  gap: 22px;
  height: 216px;
  border-radius: 12px;
  border: 1px solid #dfe2e8;
  background: #fff;
  padding: 28px;
  cursor: pointer;
  transition: border-color ease 0.3s, box-shadow ease 0.3s;
}

.blog-item:hover {
  border-color: transparent;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.07);
}

.blog-item:hover .blog-item-content__read {
  color: #7264d6;
}

.blog-item__img {
  width: 160px;
  height: 160px;
  border-radius: 12px;
  object-fit: cover;
}

.blog-item-content__date {
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
}

.blog-item-content__desc {
  max-width: 332px;
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  margin-top: 10px;
}

.blog-item-content__read {
  margin-top: 20px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  transition: color ease 0.3s;
}

/* ============ App ============ */
#app {
  margin-top: 160px;
}

.app-inner {
  padding: 100px 112px;
  position: relative;
  width: 100%;
  height: 466px;
  border-radius: 24px;
  background: #7264d6;
}

.app-star-1,
.app-star-2,
.app-star-3,
.app-star-4 {
  position: absolute;
}

.app-star-1 {
  top: 49px;
  left: 112px;
  animation: softTwinkle 3s ease-in-out 0s infinite;
}

.app-star-2 {
  left: 166px;
  bottom: 49px;
  animation: softTwinkle 3s ease-in-out 0.5s infinite;
}

.app-star-3 {
  top: 49px;
  right: 112px;
  animation: softTwinkle 3s ease-in-out 1s infinite;
}

.app-star-4 {
  bottom: 49px;
  right: 166px;
  animation: softTwinkle 3s ease-in-out 1.5s infinite;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.app-sub-title {
  --color: #fff;
}

.app-title {
  --width: 402px;
  color: #fff;
  margin-top: 12px;
}

.app-desc {
  max-width: 435px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 18px;
}

.app-cta-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.app-cta-img {
  margin-top: 38px;
  width: 182px;
  height: 64px;
  border-radius: 6px;
  object-fit: cover;
}

/* ========= Footer =========== */
#footer {
  margin-top: 100px;
}

.footer-wrapper {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 163px;
}

.footer-column-title {
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.footer-item {
  color: rgba(106, 110, 120, 0.75);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  cursor: pointer;
  transition: text-decoration ease 0.3s, text-underline-offset ease 0.3s;
}

.footer-item:not(.footer-item.none):hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footer-column-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.footer-form {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-form-input {
  width: 270px;
  height: 52px;
  border-radius: 6px;
  border: 1px solid #8e919a;
  padding: 12px;
  color: #8e919a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  outline: none;
}

.footer-form-input::placeholder {
  color: #8e919a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.footer-form-btn {
  width: 113px;
  height: 52px;
  border-radius: 6px;
  background: #7264d6;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  cursor: pointer;
  outline: none;
  border: none;
}

.footer-info {
  margin-top: 70px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.footer-info__text {
  color: #6a6e78;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.footer-info__text:hover {
  text-decoration: underline;
}

.footer-foot {
  margin-top: 28px;
  background: #7264d6;
  padding: 28px 28px;
}

.footer-copyright {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
